<article class="post card">
    <div class="title card-title">
        <a href="{{article_url}}" class="links" target="_blank">{{title}}</a>
        <span>{{article_url}}</span>
    </div>
    <div class="meta">
        {{vote_count}} vote(s) by {{user.username}} on {{created_at}}

        <a href="/post/{{id}}" class="links">{{comments.length}} comment(s)</a>
    </div>
</article>